NowSeat-Arduino/sensors-architecture.nodered-conf.json
[
    {
        "id": "5b3a1541dfd208be",
        "type": "tab",
        "label": "IoT-Final-Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "764fe0def625a30a",
        "type": "inject",
        "z": "5b3a1541dfd208be",
        "name": "Sensor's Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "90def5c4e4e7266c",
                "0c029529c760da7a",
                "2b7b7efb02484cc3",
                "466b55ce9fad409a",
                "b6b6cd1c5f6df1ce"
            ]
        ]
    },
    {
        "id": "79a63690836d6a46",
        "type": "template",
        "z": "5b3a1541dfd208be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"idTransport\": \"{{{flow.idTransport1}}}\",\n    \"seat\":{\n        \"row\": \"{{{flow.row}}}\",\n        \"column\": \"{{{flow.column}}}\", \n        \"state\": \"{{{flow.state}}}\"\n    }\n}",
        "output": "json",
        "x": 1520,
        "y": 220,
        "wires": [
            [
                "bfabb9f7b4b79494",
                "5e5c30e3707cadcf"
            ]
        ]
    },
    {
        "id": "90def5c4e4e7266c",
        "type": "change",
        "z": "5b3a1541dfd208be",
        "name": "init payload",
        "rules": [
            {
                "t": "set",
                "p": "idTransport1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "c5b2e257cbd9b856"
            ]
        ]
    },
    {
        "id": "4d931c74165f5eaf",
        "type": "inject",
        "z": "5b3a1541dfd208be",
        "name": "reset",
        "props": [
            {
                "p": "input",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "43bdbff1fb2084f8"
            ]
        ]
    },
    {
        "id": "43bdbff1fb2084f8",
        "type": "change",
        "z": "5b3a1541dfd208be",
        "name": "del flow.value",
        "rules": [
            {
                "t": "set",
                "p": "idTransport",
                "pt": "flow",
                "to": "undefined",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "d94cfd8c57cac4d1",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc row seat",
        "func": "flow.set('row', parseInt(Math.floor(Math.random() * 20) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 220,
        "wires": [
            [
                "0daab89344e11424"
            ]
        ]
    },
    {
        "id": "0daab89344e11424",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc column seat",
        "func": "flow.set('column', parseInt(Math.floor(Math.random() * 4) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "6ca0e3fc364fc5b6"
            ]
        ]
    },
    {
        "id": "3b7af01b6ccf98ad",
        "type": "template",
        "z": "5b3a1541dfd208be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"idTransport\": \"{{{flow.idTransport2}}}\",\n    \"seat\":{\n        \"row\": \"{{{flow.row}}}\",\n        \"column\": \"{{{flow.column}}}\", \n        \"state\": \"{{{flow.state}}}\"\n    }\n}",
        "output": "json",
        "x": 1520,
        "y": 380,
        "wires": [
            [
                "89eb8b134f58c2a3",
                "5e5c30e3707cadcf"
            ]
        ]
    },
    {
        "id": "0c029529c760da7a",
        "type": "change",
        "z": "5b3a1541dfd208be",
        "name": "init payload",
        "rules": [
            {
                "t": "set",
                "p": "idTransport2",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "727e2d75de2d560e"
            ]
        ]
    },
    {
        "id": "aa8e59426f6c43f9",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc row seat",
        "func": "flow.set('row', parseInt(Math.floor(Math.random() * 10) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 380,
        "wires": [
            [
                "4c0b0bf6e10aee1b"
            ]
        ]
    },
    {
        "id": "4c0b0bf6e10aee1b",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc column seat",
        "func": "flow.set('column', parseInt(Math.floor(Math.random() * 4) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "bff19e55f655c287"
            ]
        ]
    },
    {
        "id": "3c19f35f4ca7a1f4",
        "type": "template",
        "z": "5b3a1541dfd208be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"idTransport\": \"{{{flow.idTransport3}}}\",\n    \"seat\":{\n        \"row\": \"{{{flow.row}}}\",\n        \"column\": \"{{{flow.column}}}\", \n        \"state\": \"{{{flow.state}}}\"\n    }\n}",
        "output": "json",
        "x": 1520,
        "y": 540,
        "wires": [
            [
                "cd3e36a80ad109d9",
                "5e5c30e3707cadcf"
            ]
        ]
    },
    {
        "id": "2b7b7efb02484cc3",
        "type": "change",
        "z": "5b3a1541dfd208be",
        "name": "init payload",
        "rules": [
            {
                "t": "set",
                "p": "idTransport3",
                "pt": "flow",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "68494b117b7b4c5e"
            ]
        ]
    },
    {
        "id": "ff0bdd37feb6cd55",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc row seat",
        "func": "flow.set('row', parseInt(Math.floor(Math.random() * 6) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 540,
        "wires": [
            [
                "1523f6a4c62bb439"
            ]
        ]
    },
    {
        "id": "1523f6a4c62bb439",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc column seat",
        "func": "flow.set('column', parseInt(Math.floor(Math.random() * 4) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "b34ed2e66857ba32"
            ]
        ]
    },
    {
        "id": "17cc859832acda1f",
        "type": "template",
        "z": "5b3a1541dfd208be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"idTransport\": \"{{{flow.idTransport4}}}\",\n    \"seat\":{\n        \"row\": \"{{{flow.row}}}\",\n        \"column\": \"{{{flow.column}}}\", \n        \"state\": \"{{{flow.state}}}\"\n    }\n}",
        "output": "json",
        "x": 1520,
        "y": 680,
        "wires": [
            [
                "355a2011f73561c9",
                "5e5c30e3707cadcf"
            ]
        ]
    },
    {
        "id": "466b55ce9fad409a",
        "type": "change",
        "z": "5b3a1541dfd208be",
        "name": "init payload",
        "rules": [
            {
                "t": "set",
                "p": "idTransport4",
                "pt": "flow",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "1bd61fc1bcf22566"
            ]
        ]
    },
    {
        "id": "5a866c0852d580f0",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc row seat",
        "func": "flow.set('row', parseInt(Math.floor(Math.random() * 4) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 680,
        "wires": [
            [
                "fb486d186bac165b"
            ]
        ]
    },
    {
        "id": "fb486d186bac165b",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc column seat",
        "func": "flow.set('column', parseInt(Math.floor(Math.random() * 4) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 680,
        "wires": [
            [
                "da059b76c29d3bb9"
            ]
        ]
    },
    {
        "id": "147baacaf1d29953",
        "type": "template",
        "z": "5b3a1541dfd208be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"idTransport\": \"{{{flow.idTransport5}}}\",\n    \"seat\":{\n        \"row\": \"{{{flow.row}}}\",\n        \"column\": \"{{{flow.column}}}\", \n        \"state\": \"{{{flow.state}}}\"\n    }\n}",
        "output": "json",
        "x": 1520,
        "y": 820,
        "wires": [
            [
                "0ef3a2c368e14e87",
                "5e5c30e3707cadcf"
            ]
        ]
    },
    {
        "id": "b6b6cd1c5f6df1ce",
        "type": "change",
        "z": "5b3a1541dfd208be",
        "name": "init payload",
        "rules": [
            {
                "t": "set",
                "p": "idTransport5",
                "pt": "flow",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 820,
        "wires": [
            [
                "3959712c276c6425"
            ]
        ]
    },
    {
        "id": "a2fda1f2164ac944",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc row seat",
        "func": "flow.set('row', parseInt(Math.floor(Math.random() * 30) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 820,
        "wires": [
            [
                "3ecde0f32e18caab"
            ]
        ]
    },
    {
        "id": "3ecde0f32e18caab",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc column seat",
        "func": "flow.set('column', parseInt(Math.floor(Math.random() * 4) + 1))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 820,
        "wires": [
            [
                "72705a9a5f51498a"
            ]
        ]
    },
    {
        "id": "c5b2e257cbd9b856",
        "type": "delay",
        "z": "5b3a1541dfd208be",
        "name": "",
        "pauseType": "random",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0.5",
        "randomLast": "1",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "d94cfd8c57cac4d1"
            ]
        ]
    },
    {
        "id": "727e2d75de2d560e",
        "type": "delay",
        "z": "5b3a1541dfd208be",
        "name": "",
        "pauseType": "random",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0.1",
        "randomLast": "0.6",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "aa8e59426f6c43f9"
            ]
        ]
    },
    {
        "id": "68494b117b7b4c5e",
        "type": "delay",
        "z": "5b3a1541dfd208be",
        "name": "",
        "pauseType": "random",
        "timeout": "0.3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0.1",
        "randomLast": "0.6",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "ff0bdd37feb6cd55"
            ]
        ]
    },
    {
        "id": "1bd61fc1bcf22566",
        "type": "delay",
        "z": "5b3a1541dfd208be",
        "name": "",
        "pauseType": "random",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0.1",
        "randomLast": "0.6",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 680,
        "wires": [
            [
                "5a866c0852d580f0"
            ]
        ]
    },
    {
        "id": "72705a9a5f51498a",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc state seat",
        "func": "let x = ['Full', 'Empty']\nflow.set('state', x[parseInt(Math.floor(Math.random() * 2))])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 820,
        "wires": [
            [
                "147baacaf1d29953"
            ]
        ]
    },
    {
        "id": "6ca0e3fc364fc5b6",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc state seat",
        "func": "let x = ['Full', 'Empty']\nflow.set('state', x[parseInt(Math.floor(Math.random() * 2))])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 220,
        "wires": [
            [
                "79a63690836d6a46"
            ]
        ]
    },
    {
        "id": "bff19e55f655c287",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc state seat",
        "func": "let x = ['Full', 'Empty']\nflow.set('state', x[parseInt(Math.floor(Math.random() * 2))])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 380,
        "wires": [
            [
                "3b7af01b6ccf98ad"
            ]
        ]
    },
    {
        "id": "b34ed2e66857ba32",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc state seat",
        "func": "let x = ['Full', 'Empty']\nflow.set('state', x[parseInt(Math.floor(Math.random() * 2))])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 540,
        "wires": [
            [
                "3c19f35f4ca7a1f4"
            ]
        ]
    },
    {
        "id": "da059b76c29d3bb9",
        "type": "function",
        "z": "5b3a1541dfd208be",
        "name": "inc state seat",
        "func": "let x = ['Full', 'Empty']\nflow.set('state', x[parseInt(Math.floor(Math.random() * 2))])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 680,
        "wires": [
            [
                "17cc859832acda1f"
            ]
        ]
    },
    {
        "id": "3959712c276c6425",
        "type": "delay",
        "z": "5b3a1541dfd208be",
        "name": "",
        "pauseType": "random",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0.1",
        "randomLast": "0.6",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 820,
        "wires": [
            [
                "a2fda1f2164ac944"
            ]
        ]
    },
    {
        "id": "bfabb9f7b4b79494",
        "type": "mqtt out",
        "z": "5b3a1541dfd208be",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "960c3092a0e48a16",
        "x": 1690,
        "y": 220,
        "wires": []
    },
    {
        "id": "89eb8b134f58c2a3",
        "type": "mqtt out",
        "z": "5b3a1541dfd208be",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "960c3092a0e48a16",
        "x": 1690,
        "y": 380,
        "wires": []
    },
    {
        "id": "cd3e36a80ad109d9",
        "type": "mqtt out",
        "z": "5b3a1541dfd208be",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "960c3092a0e48a16",
        "x": 1690,
        "y": 540,
        "wires": []
    },
    {
        "id": "355a2011f73561c9",
        "type": "mqtt out",
        "z": "5b3a1541dfd208be",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "960c3092a0e48a16",
        "x": 1690,
        "y": 680,
        "wires": []
    },
    {
        "id": "0ef3a2c368e14e87",
        "type": "mqtt out",
        "z": "5b3a1541dfd208be",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "960c3092a0e48a16",
        "x": 1690,
        "y": 820,
        "wires": []
    },
    {
        "id": "5e5c30e3707cadcf",
        "type": "ubidots_out",
        "z": "5b3a1541dfd208be",
        "name": "",
        "token": "BBFF-IsyJE7xZvhrcC8y2ZqFnEQSppDbSuw",
        "label_device": "",
        "device_label": "NowSeat",
        "tier": "business",
        "tls_checkbox": true,
        "x": 2050,
        "y": 540,
        "wires": []
    },
    {
        "id": "960c3092a0e48a16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]